<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Project</h1>
    </div>
    <button class="topcoat-button--cta trash"></button>
</div>

<div class='details'>
	<div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
       		<li class="topcoat-list__item center">
				<h1>ID: <%= id %></h1>
			</li>
			<li class="topcoat-list__item center">
    			<h1>Nome: <%= Name %></h1>
    		</li>
    		<li class="topcoat-list__item center">
    			<h1>Atualizado: <%= Updated %></h1>
    		</li>
    		<li class="topcoat-list__item center">
    			<h2>Descrição: <%= Description %></h2>
    		</li>
   		
      		<li class="topcoat-list__item center">
      				<button class="topcoat-button--cta start-button" style="width:18vh" >RUN</button>
      				<button class="topcoat-button--cta stop-button" style="width:18vh" >STOP</button>
        			<button class="topcoat-button--cta update-button" style="width:18vh">Update</button>
        	</li>
		</ul>
    </div>
    
</div>
        
