<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Project</h1>
    </div>
</div>

<div class='details'>
	<h1><%= id %></h1>
    <h1><%= Name %></h1>
    <h1><%= Updated %></h1>
    <h2><%= Description %></h2>
   	<div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
        </ul>
        <div class="topcoat-list__item center">
        		<div class="">
        			<button class="topcoat-button--cta start-button" >RUN</button>
        		</div>
        		        		<div class="">
        			<button class="topcoat-button--cta update-button" >Update</button>
        		</div>

        </div>
    </div>
</div>
        
